@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{ /* Para seleccionar todo el archivo*/
   margin: 0;
   padding: 0; 
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("./Imagenes/background.jpg");/* colocar imagen de fondo */
    background-repeat: no-repeat; /* elemento para no repetir la imagen cuando se agranda o achica la ventana*/
    background-size: cover; /* centrado*/
}

.header ul {
    display: flex; /* para colocar elementos horizontales*/
    justify-content: space-around; /* deja espacios horizontalmente en los elementos */
    align-items: center; /* centrar objetos */
}

/*sub lista */
.header ul li ul{
    display: flex;
    flex-direction: column; /* alinear lista veticalmente */
}

/* todas las listas */
ul{
    list-style: none;
}
/* todas las listas */
ul li {
    width: 100%; /* ancho */
    height: 50px; /* altura*/
    line-height: 50px; /* margen del texto*/
    text-align: center; /* centrado*/
    font-size: 22px; /* tamaño texto*/
    display: block; /**/
    background-color: rgba(0,0,0,0.7); /*color de fondo (el rgba se pueden hacer transparencias*/
}

ul li a { /* se intenta llegar a la sub lista para que tengan diferenten formato*/
    text-decoration: none; 
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    display: block;
}

ul li:hover{ /* cuando se pase el raton por esima de las listas "efecto color" */
    background-color: rgba(231,128,23,0.5);
}

ul li ul li{  /* ocultar la lista para que despues se muestre como desplegable*/
    display: none; /*ocualta el submenu*/
}
ul li:hover ul li{ /* cuando se pase el raton por el nivel de arriba ul li, entonces ul li se mostrara*/
    display: block; /*muestra el submenu*/
}   

ul li:hover ul li a{ /* se intenta llegar a la sub lista para que tengan diferenten formato*/
    font-family: 'Lato', sans-serif; /* tipo de fuente*/
    font-weight: normal; 
    font-size:  20px;
    
}

